body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  header {
    background-color: #4B0082;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
  }
  
  header img {
    height: 80px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #FFD700;
  }
  
  main {
    margin-right: 200px;
    margin-left: 200px;
    flex: 1;
    padding: 20px;
  }

  main h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #4B0082;
  }

  .contato h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .contato p {
    margin-bottom: 30px;
    font-size: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .redes-sociais {
    margin-top: 40px;
    text-align: center;
  }
  
  .redes-sociais p {
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .redes-sociais a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  
  .btn-instagram {
    background: linear-gradient(45deg, #fd1d1d, #833ab4, #fcb045);
  }
  
  .btn-instagram:hover {
    opacity: 0.9;
  }
  
  footer {
    background: #4B0082;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }